/* overall */
/* ************************ */

.error {
  text-align: center;
}
.no-image {
  position: absolute;
  left: 50%;
  top: 50%;
}
.media img {
  border: 1px solid rgb(175, 175, 175);
}
.mrr-primary {
  color: rgb(182, 90, 39);
}
.panel {
  padding: 20px;
  box-shadow: 0 0 8px 0 #b8b7b7;
  margin-bottom: 30px;
}
.panel-empty p {
  text-align: center;
  margin-bottom: 0;
}
.media {
  position: relative;
}
.media > a {
  background-color: #000;
}
.media > a img:hover {
  opacity: 0.7;
}
h4 {
  font-weight: 300;
  color: rgb(182, 90, 39);
}
h4:hover {
  color: rgb(136, 66, 26);
}
.media-body {
  flex: initial;
  text-align: left;
}
.media-body a:hover {
  text-decoration: none;
}
.mrr-subtle {
  color: rgb(175, 175, 175);
}

/* search-results */
/* ************************ */

.search-results .media {
  align-items: center;
}
.search-results .media > a img {
  width: 90px;
}
.search-results .media-body p {
  margin-bottom: 0;
}

/* my-books */
/* ************************ */

.my-books img {
  width: 90px;
}
.my-books > hr {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .my-books img {
    width: 120px;
  }
}

/* book-details */
/* ************************ */

.book-details img {
  width: 68px;
}
.book-details h2 {
  text-align: left;
  font-weight: 300;
}
.details {
  display: flex;
  align-content: flex-start;
}
.details p, .details a {
  color: rgb(175, 175, 175);
  padding: 0 10px;
  margin-bottom: 0;
  border-left: 1px solid rgb(175, 175, 175);
}
.details p:first-child {
  padding-left: 0;
  border-left: 0 solid rgb(175, 175, 175);
}
.details a p {
  color: rgb(182, 90, 39);
}
.details a p:hover {
  color: rgb(136, 66, 26);
}
.thumb-group, .thumb-group-alt {
  position: relative;
}
.thumb-group, .thumb-group-alt div {
  position: absolute;
  left: 50%;
}
.thumb-group-alt p {
  position: relative;
  left: -50%;
  top: -120px;
}
.thumb-group p {
  position: relative;
  left: -50%;
  top: -120px;
  font-size: 90%;
  margin: 8px auto 0;
  max-width: 68px;
}
@media (min-width: 576px) {
  .book-details img {
    width: 90px;
  }
  .thumb-group p {
    max-width: 90px;
  }
}
@media (min-width: 768px) {
  .book-details img {
    width: 120px;
  }
  .thumb-group p {
    max-width: 160px;
  }
}
@media (min-width: 992px) {
  .book-details img {
    width: 154px;
  }
}