/* Bootstrap overrides */
.navbar {
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.navbar-brand {
  display: none;
  margin: 0;
  padding: 0;
}
.navbar-collapse {
  flex-grow: unset;
}
.btn-primary {
  background-color: rgb(182, 90, 39);
  border-color: rgb(182, 90, 39);
}
.input-group input {
  background-color: #fff;
  border: 1px solid rgb(182, 90, 39);
}
@media (min-width: 992px) {
  .navbar {
    flex-wrap: nowrap; 
    padding: 0 1rem 0 0;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgb(182, 90, 39);
  }
  .navbar-brand {
    display: inline-block;
  }
  .navbar-nav {
    padding-left: 9rem;
  }
}

/* Custom Styles */

/**** OVERALL ****/
body {
  color: rgb(53, 53, 53);
}
.mrr-primary {
  color: rgb(182, 90, 39);
}
.mrr-primary-bg {
  background-color: rgb(182, 90, 39);
}
section p {
  color: rgb(182, 90, 39);
  font-weight: 500;
  text-align: center;
}
.panel {
  padding: 20px;
  box-shadow: 0 0 8px 0 #b8b7b7;
  margin-bottom: 30px;
}
.panel-empty p {
  text-align: center;
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}
h2 {
  text-align: center;
  color: rgb(53, 53, 53);
  margin-bottom: .75rem;
}
h4 {
  color: rgb(182, 90, 39);
}
h4:hover {
  color: rgb(136, 66, 26);
}
.media > a {
  background-color: #000;
}
.media > a img:hover {
  opacity: 0.7;
}
.media-body {
  flex: initial;
}
.media-body .input-group {
  width: 210px;
}
.input-group .custom-select {
  color: rgb(182, 90, 39);
  background-color: #fff;
  border: 1px solid rgb(182, 90, 39);;
  padding: .375rem 1.75rem .375rem .5rem;
}
.custom-select:focus {
  border-color: #fff;
  outline: 1px solid rgb(182, 90, 39);;
  box-shadow: 0 0 0 0 #fff;
}


/**** NAVBAR ****/
nav img {
  width: 292px;
  height: 63px;
}
.mrr-logo {
  width: 225px;
  height: 33px;
  margin-top: 8px;
}
nav li {
  border-top: 1px solid rgba(255, 255, 255, .2);
}
nav li:first-child {
  margin-top: 10px;
}
@media (min-width: 576px) {
  .mrr-logo {
    width: 280px;
    height: 41px;
  }
}
@media (min-width: 992px) {
  .mrr-logo {
    margin-top: 6px;
  }
  nav li{
    border-top: 0px solid #fff;
  }
  nav li:first-child {
    margin-top: 0;
  }
}

/**** SEARCH ****/

/* search-field */
.search-field {
  text-align: center;
  margin-bottom: 30px;
}
.search-field>p{
  font-size: 110%;
  margin-bottom: .5rem;
}
.search-field>.input-group {
  justify-content: center;
}
.search-field input {
  text-align: center;
  min-width: 250px;
}

/* search-results */
.search-results .media {
  align-items: center;
}
.search-results .media > a img {
  width: 90px;
}
.search-results .media-body p {
  margin-bottom: 0;
}

/**** BOOK DETAILS ****/

.book-details img {
  width: 68px;
}
.details {
  display: flex;
  align-content: flex-start;
}
.details p {
  color: rgb(175, 175, 175);
  padding: 0 10px;
  margin-bottom: 0;
  border-left: 1px solid rgb(175, 175, 175);
}
.details p:first-child {
  padding-left: 0;
  border-left: 0 solid rgb(175, 175, 175);
}
.thumb-group p {
  font-size: 90%;
  margin: 8px auto 0;
  max-width: 68px;
}
@media (min-width: 576px) {
  .book-details img {
    width: 90px;
  }
  .thumb-group p {
    max-width: 90px;
  }
}
@media (min-width: 768px) {
  .book-details img {
    width: 120px;
  }
  .thumb-group p {
    max-width: 160px;
  }
}
@media (min-width: 992px) {
  .book-details img {
    width: 154px;
  }
}

/**** MY BOOKS ****/

.my-books img {
  width: 90px;
}
.my-books .panel > hr {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .my-books img {
    width: 120px;
  }
}